<div class="padded">
  <h3>Spanish Word</h3>

  <h1>{{word ? word.word : 'Cannot Find: "' + param + '"'}}</h1>

  <ng-container *ngIf="word">
    <div class="flex-row-content">

      <div>
        <sf-word-links [word]="word"></sf-word-links>
      </div>
      <div class="center-text">
        <h3>Rank</h3>
        {{word.rank}}
      </div>
      <div class="center-text">
        <h3>Occ.</h3>
        {{word.occurrences}}
      </div>
      <div class="center-text">
        <h3>Lemmas</h3>
        <sf-anchor-list [type]="'lemma'" [words]="word.lemma_forms"></sf-anchor-list>
      </div>
    </div>
  </ng-container>
</div>

<!-- lemmas -->
<ng-container *ngIf="lemmas?.length === 1">
  <h2 class="padded">Conjugations for lemma "{{lemmas![0].word}}"</h2>
  <sf-words-lemma-forms-table *ngFor="let lemma of lemmas" [words]="lemma.conjugations">
  </sf-words-lemma-forms-table>
</ng-container>

<ng-container *ngIf="lemmas && lemmas.length > 1">
  <h2 class="padded">Available Lemmas {{lemmas | list:'all'}}</h2>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab *ngFor="let lemma of lemmas" [label]="lemma.word">
      <sf-words-lemma-forms-table [words]="lemma.conjugations">
      </sf-words-lemma-forms-table>
    </mat-tab>
  </mat-tab-group>
</ng-container>