<div class="padded">
  <h1>Purpose</h1>
  <p>
    There are many sources that compile the most frequently used words in the Spanish language.
    These lists are extremely helpful to people who are learning Spanish to know which words are the most
    beneficial to understand first. The purpose of this project is to aggregate some Spanish vocabulary frequency lists
    into a clean format. This project also aggregates the <strong>Lemma Forms</strong> of the most commonly used Spanish
    words.
    Lemma aggregates are extremely useful when it comes to verb conjugation usage.
  </p>

  <h2>What is a Lemma?</h2>
  <p>
    According to <a href="https://en.wikipedia.org/wiki/Lemma_(morphology)" target="_blank"
      rel="noopener noreferrer">Wikipedia.org</a>
  </p>
  <blockquote>
    In morphology and lexicography, a <strong>lemma</strong> (plural lemmas or lemmata) is the canonical form,
    dictionary form, or
    citation form of a set of words (headword).
  </blockquote>
  <p>
    In Spanish there are dozens of verb congujations that share the same lemma form.
    For example, <strong>está, estoy, & estaba</strong> all have the same lemma, <strong>estar</strong>.
    This aggregated data can be useful to those learning Spanish to see which verbs and their conjugated tenses
    are most used in Spanish.
  </p>
  <p class="center-text">
    <a class="big-link" routerLink="/" mat-raised-button color="primary">Try it out!</a>
  </p>

  <h1>Data & Credits</h1>
  <p>
    All the data for this project was attained from <a
      href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists#Spanish" target="_blank"
      rel="noopener noreferrer">Wiktionary.org's</a> Spanish frequency lists.
    They compiled the top 10,000 words from the subtitles of Spanish movies. A total of 27.4 million words were compiled (<a
      href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish1000" target="_blank"
      rel="noopener noreferrer">source</a>).
  </p>
  <p class="indent">
    Note: this project does not contain the entire Spanish dictionary. Only the top 10,000 most frequently used words.
  </p>

  <h2>Sources Compiled</h2>
  <ul>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish1000" target="_blank"
        rel="noopener noreferrer">Spanish1000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish1001-2000" target="_blank"
        rel="noopener noreferrer">Spanish1001-2000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish2001-3000" target="_blank"
        rel="noopener noreferrer">Spanish2001-3000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish3001-4000" target="_blank"
        rel="noopener noreferrer">Spanish3001-4000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish4001-5000" target="_blank"
        rel="noopener noreferrer">Spanish4001-5000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish5001-6000" target="_blank"
        rel="noopener noreferrer">Spanish5001-6000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish6001-7000" target="_blank"
        rel="noopener noreferrer">Spanish6001-7000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish7001-8000" target="_blank"
        rel="noopener noreferrer">Spanish7001-8000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish8001-9000" target="_blank"
        rel="noopener noreferrer">Spanish8001-9000</a></li>
    <li><a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Spanish9001-10000" target="_blank"
        rel="noopener noreferrer">Spanish9001-10000</a></li>
  </ul>

  <h1>Author</h1>
  <p>
    Written by David Houseknecht (© 2021-{{today | date:'y'}}). Source code can be viewed on <a
      href="https://github.com/djhouseknecht/spanish-freq" target="_blank" rel="noopener noreferrer">Github.com</a>.
  </p>
</div>