<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 word-table">
  <!-- Rank Column -->
  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
    <td mat-cell *matCellDef="let word">{{word.rank}}</td>
  </ng-container>

  <!-- Word Column -->
  <ng-container matColumnDef="word">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Word</th>
    <td mat-cell *matCellDef="let word"><a [routerLink]="['/word', word.word]">{{word.word}}</a></td>
  </ng-container>

  <!-- Word Column -->
  <ng-container matColumnDef="occurrences">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Occ.</th>
    <td mat-cell *matCellDef="let word">{{word.occurrences}}</td>
  </ng-container>

  <!-- Lemma Forms Column -->
  <ng-container matColumnDef="lemma_forms">
    <th mat-header-cell *matHeaderCellDef>Lemma Forms</th>
    <td mat-cell *matCellDef="let word">
      <sf-anchor-list [words]="word.lemma_forms" [type]="'lemma'"></sf-anchor-list>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[50, 100, 250, 500]" showFirstLastButtons
  aria-label="Select page of Words">
</mat-paginator>
