@import '../../mixins.scss';

:host {
  div.options {
    width: 100%;
    padding: 12px;
  }

  div.buttons {
    display: flex;

    .search-btn {
      flex-grow: 3;
    }

    .clear-btn {
      flex-grow: 2;
      margin-right: 12px;
    }
  }

  mat-tab-group, mat-form-field {
    margin: auto;
    width: 100%
  }
}