<div class="padded">

  <h3>Lemma Form</h3>

  <h1>{{lemma ? lemma.word : 'Cannot Find: "' + param + '"'}}</h1>

  <ng-container *ngIf="lemma">
    <div class="flex-row-content">
      <div>
        <sf-word-links [word]="lemma"></sf-word-links>
      </div>
      <div class="center-text">
        <h3>Rank</h3>
        {{lemma.rank}}
      </div>
      <div class="center-text">
        <h3>Total Occ.</h3>
        {{lemma.total_conjugated_occurrences}}
      </div>
      <div class="center-text">
        <h3>Conj. #</h3>
        {{lemma.conjugations.length}}
      </div>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="lemma">
  <h2 class="padded">Conjugations</h2>
  <sf-words-lemma-forms-table [words]="lemma.conjugations"></sf-words-lemma-forms-table>
</ng-container>