@import './mixins.scss';
@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-deep-purple);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px !important;
}
table {
  width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 28px !important;
}

mat-form-field {
  font-size: 14px !important;
}

sf-root {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 100%;

  @include for-tablet-portrait-up {
    width: 600px;
  }
  @include for-tablet-landscape-up {
    width: 700px;
  }
}

.primary-background {
  background-color: mat-color($primaryPalette);
}

.padded {
  max-width: calc(100% - 12px);
  padding: 12px;
}

.flex-row-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  & > * {
    flex-grow: 1;
  }
}

.center-text {
  text-align: center;
}

.word-table {
  width: 100%;
  @include for-tablet-portrait-up {
    width: 96%;
    margin: 14px auto;
  }
}

.mat-header-row {
  font-weight: 700px;
  font-size: 20px;
}

.mat-column-rank {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px !important;
  text-align: center;
}

.mat-column-word {
  padding-left: 16px !important;
  font-weight: bold;
  font-size: 20px;
  min-width: 46px;
}

.mat-column-occurrences,
.mat-column-lists {
  text-align: right !important;
}